.sidebar {
  width: 150px;
  height: 100vh;
  background: url('/src/assets/waste.jpg') no-repeat center center / cover;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  transition: transform 0.3s ease;
  overflow: hidden;
  transform: translateX(0);
}

.sidebar.collapsed {
  transform: translateX(-100%);
}

.logo-container {
  margin-bottom: 20px;
  padding: 10px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 2px solid #64ffda;
  transition: width 0.3s ease, height 0.3s ease;
}

.menu {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 10px;
}

.menu li {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  background: transparent;
  transition: background-color 0.3s ease, transform 0.2s;
  display: flex;
  align-items: center;
}

.menu li:hover {
  background: #3c3c5b;
  transform: scale(1.03);
}

.menu li a {
  text-decoration: none;
  color: #b2fef7;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  width: 100%;
}

.menu-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.sidebar.collapsed .menu li a span {
  display: none;
}

.sidebar.collapsed .menu li {
  justify-content: center;
}

.logout-btn {
  margin-top: auto;
  margin-bottom: 20px;
  width: calc(100% - 20px);
  padding: 10px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  transition: background 0.3s ease-in-out, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logout-icon {
  width: 25px;
  height: 25px;
}

.logout-btn:hover {
  background: #c62828;
  transform: scale(1.03);
}

/* Circular Toggle Button outside sidebar */
.toggle-btn-circle {
  position: fixed;
  top: 13px;
  left: 160px; /* Sidebar width (225px) + margin */
  width: 36px;
  height: 36px;
  background-color: white;
  color: #222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1100;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
}

.toggle-btn-circle.shift-left {
  left: 20px;
}

.toggle-btn-circle:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 150px;
  }

  .menu li a span {
    display: none;
  }

  .menu li {
    justify-content: center;
  }

  .logout-btn {
    justify-content: center;
  }

  .toggle-btn-circle {
    left: 160px;
  }

  .toggle-btn-circle.shift-left {
    left: 20px;
  }
}
